<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450737453296-ep2b9pp3trat72rrb9qg3utevu47a6iu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450737453296-ep2b9pp3trat72rrb9qg3utevu47a6iu</string>
	<key>API_KEY</key>
	<string>AIzaSyAQN3n0I0C9BV14k2U_ZFf34IJfkjo9MsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>450737453296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.entprojecttracker</string>
	<key>PROJECT_ID</key>
	<string>empowerment-circle</string>
	<key>STORAGE_BUCKET</key>
	<string>empowerment-circle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450737453296:ios:c2f9f17690c2ea0ac46a35</string>
</dict>
</plist>